*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
}

.container {
	width: 80%;
	margin: 30px auto;
}

.card {
	background-color: #fff;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.card:hover .card-header {
	filter: contrast(100%);
}

.card-header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	filter: contrast(70%);
	transition: filter .5s cubic-bezier(.4, .4, .2, .9);
}
.card-header::before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

.card-image {
	background-image: url(https://unsplash.it/800/600?image=82);
}

.card-content {
	padding: 1em;
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}
.card-title {
	color: #696969;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.card-text {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5;
	margin-top: 1rem;
	margin-bottom: 1.25rem;
	flex: 1 1 auto;
}
.btn {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #696969;
	padding: .5rem;
}
.card-btn {}