*, *::before, *::after {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	color: rgba(255, 255, 255, .7);
	height: 100%;

	display: flex;
	flex-wrap: wrap;
}

.left {
	background-color: #e57373;
}
.right {
	background-color: #4FC3F7;
}

.left, .right {
	flex: 1 1 51vh;

	display: flex;
	flex-direction: column;
}
.left span, .right span {
	flex: 1 1 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*@media screen (min-width: 101vh) {
	.left span {
		background-color: yellow;
		width: 100%;
		height: 50vh;
	}
}*/